.container {
  margin: 10rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 22rem;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 1rem 1rem;
  padding: 9rem 0rem;
  text-align: center;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
  font-size: xx-large;
  font-weight: bolder;
}
